.navbar{
    max-width: 1200px;
  margin: 0 auto;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:18px;
  background-color:rgba(175, 177, 179, 0.301);
}

.photo-visit{
    width: 100%;
    height:auto;
    margin-top: 80px;
    
    
}
.photo-visit{
    display: flex;
    justify-content:center;
    
}
.logo{
    font-size:35px;
    font-weight: bold;
}
.Tourism {
    
    max-width: 600px;
    text-align: center;
    margin:0 auto;
    font-size: 20px;

}
.Tourism h1 {
    text-decoration:underline;
}

.lion img {
    width: 700px;
    height:auto;
    
}
.Responsible  {
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width: 600px;
}

.Responsible   {
    text-align:center;
margin:0 auto;
font-size:20px;
}

.split-section {
    display:flex;
align-items:center;
width: 100%;
margin-top:80px;
background-color:rgba(227, 235, 243, 0.301)
}
.gogo img {
    width: 380px;
    height:auto;

}
.gogo {
    display:flex;
    justify-content:center; 
}
.Gorrilla {
    display:flex;
    flex-direction:column;
    align-items:center;
}
.Investment {
    max-width:600px;
    text-align:center;
    margin:0 auto;
    font-size:20px;
}
.zone-text {
    display:flex;
flex-direction:column;
align-items:center;


}

.zone-text {
    text-align:center;
    margin:0 auto;
    font-size:20px;
    max-width:400px;
}
.zone img{
    width: 700px;
    height:auto;
}
.special {
    display:flex;
    margin-top:80px;
background-color:rgba(227, 235, 243, 0.301)
    
}